            </div>
            <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
        </div>
      </section>
      {%include "footer.html" %}
    </div>
      
      
  </body>
  
</html>

<script src="/public/js/tenants/react-web-client/2.b9e86c47.chunk.js" defer></script>
<script src="/public/js/tenants/react-web-client/main.7160aa14.chunk.js" defer></script>
<script src="/public/js/tenants/react-web-client/runtime-main.a18514ed.js" defer></script>



<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

