            </div>
            <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
        </div>
      </section>
      {%include "footer.html" %}
    </div>
      
      
  </body>
  
</html>

<script src="/public/js/users/react-web-client/2.4a13d508.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/3.ff077e13.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/4.aa5dfd51.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/main.aed61fec.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/runtime-main.6be4926d.js" defer></script>



<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

