            </div>
            <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
        </div>
      </section>
      {%include "footer.html" %}
    </div>
      
      
  </body>
  
</html>

<script src="/public/js/users/react-web-client/0.59ea63c1.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/3.896c1966.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/4.79536ed7.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/5.862ca057.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/6.b74d6254.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/7.33b091ed.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/8.e832eaac.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/main.178a1127.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/runtime-main.28907c71.js" defer></script>



<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

